{% extends 'rango/base.html' %}

{% block title %} Consult Category {{ category_name }} {% endblock %}
{% block pageTitle %} Consult Category '{{ category_name }}' {% endblock %}

{% block body_block %}

    {% if category %}
    
        <div id="pages">
            {% include 'rango/page_list.html' with pages=pages %}
        </div>
        
        <a href="/rango/category/{{ category_name_url }}/add_page/">Add a New Page</a>
    
        <!-- Page likes -->
        <p>
            <b id="like_count">{{ category.likes }}</b> people like this category
            
            {% if user.is_authenticated %}
                <button id ="likes" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Like</button>
            {% endif %}
        </p>
        
        <!--Page Search-->
        <hr>
        <div class="container-fluid">
            <p>Search for a Page</p>
            <form class="span8 form-search" id="search_form" method="post" action="/rango/category/{{ category_name_url }}/">
                {% csrf_token %}
                <input type="text" class="input-long search-query"  name="query" value="{{ category_name }}" id="query" />
                <button type="submit" class="btn btn-success" name="submit" value="Search">Search</button>
                <br />
            </form>
        </div>    
            <!--Search results-->
        <div class="container-fluid">
            {% if result_list %}
                <ol>
                    {% for result in result_list %}
                        <li>
                            <strong><a href="{{ result.link }}">{{ result.title }}</a></strong>
                            <p>{{ result.summary }}</p>
                        </li>
                        
                        {% if user.is_authenticated %}
                            <div>
                                <button id ="add_page_to_category" 
                                    data-catid="{{category.id}}" 
                                    data-pagetitle="{{result.title}}"
                                    data-pageurl="{{result.link}}"
                                    class="rango-add btn btn-mini btn-primary"
                                    type="button">
                                    Add this page to {{ category_name }} Category
                                </button>
                            </div>
                        {% endif %}
                        
                    {% endfor %}
                </ol>
            {% else %}
                <br />
                <p>No results found</p>
            {% endif %}
        </div>
        
    {% else %}
        The specified category {{ category_name }} does not exist!
    {% endif %}
    
{% endblock %}