{% extends 'rango/base.html' %}

{% block title %} Consult Category {{ category_name }} {% endblock %}
{% block pageTitle %} Consult Category '{{ category_name }}' {% endblock %}

{% block body_block %}

    {% if category %}
        {% if pages %}
            <ul>
                {% for page in pages  %}
                <li><a href = "{{ page.url }}"> {{ page.title }}</a> </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> No pages on the {{ category_name }} </strong>
        {% endif %}
    {% else %}
        The specified category {{ category_name}} does not exist!
    {% endif %}
    
    <a href="/rango/category/{{ category_name_url }}/add_page/">Add a New Page</a>
    
{% endblock %}