{% extends 'rango/base.html' %}

{% block title %} Consult Category {{ category_name }} {% endblock %}
{% block pageTitle %} Consult Category '{{ category_name }}' {% endblock %}

{% block body_block %}

    {% if category %}
        {% if pages %}
            <ul>
                {% for page in pages  %}
                <li><a href = "{{ page.url }}"> {{ page.title }}</a> </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> No pages on the {{ category_name }} </strong>
        {% endif %}
    {% else %}
        The specified category {{ category_name}} does not exist!
    {% endif %}
    
    <a href="/rango/category/{{ category_name_url }}/add_page/">Add a New Page</a>
    
    <!--Page Search-->
    <hr>
    <div class="container-fluid">
        <p>Search for a Page</p>
        <form class="span8 form-search" id="search_form" method="post" action="/rango/category/{{ category_name_url }}/">
            {% csrf_token %}
            <input type="text" class="input-long search-query"  name="query" value="{{ category_name }}" id="query" />
            <button type="submit" class="btn btn-success" name="submit" value="Search">Search</button>
            <br />
        </form>
    </div>    
        <!--Search results-->
    <div class="container-fluid">
        {% if result_list %}
            <ol>
                {% for result in result_list %}
                    <li>
                        <strong><a href="{{ result.link }}">{{ result.title }}</strong>
                        <p>{{ result.summary }}</p>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <br />
            <p>No results found</p>
        {% endif %}
    </div>
    
    
{% endblock %}